div.card__links {
    width: 80%;
}

footer .attribution,
footer .attribution a {
    font-size: 0.7rem;
}

.card__links main p {
    font-size: 1.2rem;
}

@media (width < 390px) {
    div.card__links {
        width: 90%;
    }

    .card__links main p {
        font-size: 0.99rem;
    }

    footer .attribution,
    footer .attribution a {
        font-size: 0.65rem;
    }
}